@import url(https://fonts.googleapis.com/css?family=Khula:400,800,600,300);

html, body {
	width: 100%;
	margin: 0;
	font-family: 'Khula';
}

.header {
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 10;
	background-color: #FFF;
	display: none;
}

.header div.left, .header div.right {
	height: 100%;
}

.content {
	width: 100%;
	position: absolute;
}

.left {
	float: left;
}

.right {
	float: right;
}

.menu-group {
	text-decoration: none;
	list-style-type: none;
	font-size: 20px;
	padding: 0px 20px;
}

.menu-item {
	text-transform: uppercase;
	display: inline;
	margin: 10px 25px;
	font-weight: bold;
	cursor: pointer;
}

.branding {
	transform-origin: center;
	position: absolute;
	padding-top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.branding img {
	transition: all 1s;
}

.page {
	width: 100%;
	padding: 40px 60px;
	box-sizing: border-box;
}

.intro {
	height:100%;
	display: flex;
	align-items: center;
}

.intro img {
	display: block;
	margin: 0 auto;
	align-self: center;
	transition: all 0.2s;
	width: 50%;
}

.h-green, .h-red, .h-blue, .h-orange, .h-purple {
	transition: all 0.5s;
}

.h-green:hover {
	color: #78BC61;
}

.h-blue:hover {
	color: #39A0ED;
}

.h-red:hover {
	color: #A30B37;
}

.h-orange:hover {
	color: #BE6E46;
}

.h-purple:hover {
	color: #442B48;
}